/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
  }
  
  main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #24c1cc;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
  }
  
  /* Estilos para inputs */
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #2196f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para botones */
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  bbutton[type="submit"]:hover {
    background-color: #999999a9; /* Cambia el color del botón de submit al pasar el mouse */
    border-color: #7a7a7a9a;
  }
  /* Estilos para labels */
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
  }
  
  /* Estilos para errores */
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Estilos para éxito */
  
  .success-message {
    color: green;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Media queries */
  
  @media (min-width: 1200px) {
    main {
      max-width: 800px;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 24px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    main {
      max-width: 600px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    main {
      max-width: 400px;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 16px;
    }
  }